<h1>Albums#new</h1>
<p>Find me in app/views/albums/new.html.erb</p>

<%= form_for [@artist, @album] do |f|%>

<div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
</div>
<% end %>